{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('service_all') }}">Service</a></li>
    <li class="breadcrumb-item active">
        {% if editMode %}
            Modification
        {% else %}
            Ajout
        {% endif %}
    </li>
{% endblock %}
{% block body %}
    <h1>
      {% if editMode %}
        Modification d'un service
      {% else %}
        Ajout d'un service
      {% endif %}
    </h1>

    {{ form_start(form) }}
    {{ form_row(form.type, {'label': 'Type du service', 'attr': {'placeholder': 'Type du service'}}) }}
    <button type="submit" class="btn btn-outline-primary">
        {% if editMode %}
            Modifier
        {% else %}
            Ajouter
        {% endif %}
    </button>
    {% if editMode %}
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete">Supprimer</button>
        <div class="modal" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Supprimer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Voulez-vous vraiment supprimer {{service.type}} ?</p>
                </div>
                <div class="modal-footer">
                  <a href="{{ path('service_delete', {'id': service.id}) }}" class="btn btn-primary">Confirmer</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
              </div>
            </div>
          </div>
    {% endif %}
    {{ form_end(form) }}

{% endblock body %}