{% extends 'base.html.twig' %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">Projection</li>
{% endblock %}
{% block body %}
<h1>Liste des projections <a href="{{ path('projection_planning') }}" class="btn btn-outline-primary">Générer un planning</a></h1>

<section class="projections">
    {% set i = 0 %}
    {% for projection in projections %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                
            </h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ projection.date | date('d/m/y à H:i') }}</h6>
            <a href="{{ path('projection_edit', {'id': projection.id}) }}" class="card-link" data-ytta-id="-">Editer</a>
            <a class="card-link text-danger" data-ytta-id="-" data-toggle="modal" data-target="#delete{{ i }}">Supprimer</a>

        </div>
    </div>

    <div class="modal" id="delete{{ i }}" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment supprimer {{ projection.date | date('d/m/y à H:i') }} ?</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('projection_delete', {'id': projection.id}) }}" class="btn btn-primary">Confirmer</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    {% set i = i + 1 %}

    {% endfor %}
    <div class="pagination">
        {{ knp_pagination_render(projections) }}
    </div>
</section>

{% endblock %}
