{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('projection') }}">Projection</a></li>
    <li class="breadcrumb-item active">
        {% if editMode %}
            Modification
        {% else %}
            Ajout
        {% endif %}
    </li>
{% endblock %}
{% block body %}
    <h1>
        {% if editMode %}
            Modification d'une projection
        {% else %}
            Ajout d'une projection
        {% endif %}
    </h1>

    {{ form_start(form) }}
    {{ form_row(form.date, {'label': 'Date de diffusion', 'attr': {'placeholder': 'Date de diffusion'}}) }}
    <a class="badge badge-pill badge-primary" href="{{ path('movie') }}">Gestion des films</a>
    {{ form_row(form.idMovie, {'label': 'Film'}) }}
    <a class="badge badge-pill badge-primary" href="{{ path('projection_room') }}">Gestion des salles de projection</a>
    {{ form_row(form.idProjectionRoom, {'label': 'Salle'}) }}
    <a class="badge badge-pill badge-primary" href="{{ path('vip') }}">Gestion des VIPs</a>
    {{ form_row(form.idVip, {'label': 'Spectateurs'}) }}

    <button type="submit" class="btn btn-outline-primary">
        {% if editMode %}
            Modifier
        {% else %}
            Ajouter
        {% endif %}
    </button>

    {{ form_end(form) }}

{% endblock body %}