{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('hosting_all') }}">Hébergement</a></li>
    <li class="breadcrumb-item active">
        {% if editMode %}
            Modification
        {% else %}
            Ajout
        {% endif %}
    </li>
{% endblock %}
{% block body %}
  <h1>
      {% if editMode %}
        Modification d'un hébergement
      {% else %}
        Ajout d'un hébergement
      {% endif %}
  </h1>

  {{ form_start(form) }}
  {{ form_row(form.name, {'label': 'Nom de l\'hébergement', 'attr': {'placeholder': 'Nom de l\'hébergement'}}) }}
  <a class="badge badge-pill badge-primary" href="{{ path('type_all') }}">Gestion des types</a>
  {{ form_row(form.idType, {'label': 'Type'}) }}
  {{ form_row(form.address, {'label': 'Adresse', 'attr': {'placeholder': 'Adresse'}}) }}
  {{ form_row(form.nbPlace, {'label': 'Nombre de palces', 'attr': {'readonly': ''}}) }}
  <a class="badge badge-pill badge-primary" href="{{ path('service_all') }}">Gestion des services</a>
  {{ form_row(form.idService, {'label': 'Service'}) }}
  <button type="submit" class="btn btn-outline-primary">
      {% if editMode %}
          Modifier
      {% else %}
          Ajouter
      {% endif %}
  </button>
  {% if editMode %}
        <a href="{{ path('hosting_room', {'id': hosting.id}) }}" class="btn btn-outline-secondary">Gestion des chambres</a>
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete">Supprimer</button>
        <div class="modal" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Supprimer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Voulez-vous vraiment supprimer {{hosting.name}} ?</p>
                </div>
                <div class="modal-footer">
                  <a href="{{ path('hosting_delete', {'id': hosting.id}) }}" class="btn btn-primary">Confirmer</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
              </div>
            </div>
          </div>
    {% endif %}
  {{ form_end(form) }}
{% endblock %}
