{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>
        {% if editMode %}
            Modification d'un VIP
        {% else %}
            Ajout d'un VIP
        {% endif %}
    </h1>

    {{ form_start(form) }}
    {{ form_row(form.name, {'label': 'Nom du VIP', 'attr': {'placeholder': 'Nom du VIP'}}) }}
    {{ form_row(form.profession, {'label': 'Profession du VIP', 'attr': {'placeholder': 'Profession du VIP'}}) }}
    {{ form_row(form.jury, {'label': 'Le VIP fait-il partie du jury?'}) }}
    {{ form_row(form.invited, {'label': 'Le VIP est-il invité ?'})}}
    <a class="badge badge-pill badge-primary" href="{{ path('movie') }}">Gestion des films</a>
    {{ form_row(form.idMovie, {'label': 'Film :'}) }}
    

    <button type="submit" class="btn btn-outline-primary">
        {% if editMode %}
            Modifier
        {% else %}
            Ajouter
        {% endif %}
    </button>

    {{ form_end(form) }}

{% endblock body %}